@rendermode InteractiveAuto
@using Test.App.Client.Pages
@inherits BaseComponent

@code
{
  private async Task GoBack()
  {
    await RouteState.GoBack();
  }
}


<div class="top-row ps-3 navbar navbar-dark">
  <div class="container-fluid" title=@RenderModeDisplayString>
    <a class="navbar-brand" href="">Test.App.Server</a>
    <button disabled=@(!RouteState.CanGoBack) data-qa="GoBack" @onclick=GoBack style="width: 40px; height: 40px;">
      <TimeWarp.HeroIcons.Mini.Solid.ArrowLeftIcon class="icon-size" />
    </button>
  </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
  <nav class="flex-column">
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@CounterPage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>@CounterPage.Title
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@JavaScriptInteropPage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>@JavaScriptInteropPage.Title
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link icon-size" href=@ThrowExceptionPage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>@ThrowExceptionPage.Title
      </NavLink>
    </div>

    <div class="nav-section-divider">
      <hr class="nav-divider">
      <div class="nav-divider-label">Internal Functionality</div>
      <hr class="nav-divider">
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@ResetStorePage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>@ResetStorePage.Title
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@ChangeRoutePage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>@ChangeRoutePage.Title
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@GoBackPage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @GoBackPage.Title
      </NavLink>
    </div>

    <div class="nav-section-divider">
      <hr class="nav-divider">
      <div class="nav-divider-label">Middleware</div>
      <hr class="nav-divider">
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@EventStreamPage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @EventStreamPage.Title
      </NavLink>
    </div>

    <div class="nav-section-divider">
      <hr class="nav-divider">
      <div class="nav-divider-label">Persistence</div>
      <hr class="nav-divider">
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@PersistenceTestPage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @PersistenceTestPage.Title
      </NavLink>
    </div>
    
    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@ServerSidePersistenceTestPage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @ServerSidePersistenceTestPage.Title
      </NavLink>
    </div>

    <div class="nav-section-divider">
      <hr class="nav-divider">
      <div class="nav-divider-label">Render Modes</div>
      <hr class="nav-divider">
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href="StaticWeatherForecastsPage">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather (Static)
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@WasmWeatherForecastsPage.Route>
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @WasmWeatherForecastsPage.Title
      </NavLink>
    </div>

    <div class="nav-section-divider">
      <hr class="nav-divider">
      <div class="nav-divider-label">Misc</div>
      <hr class="nav-divider">
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@ActiveActionsPage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @ActiveActionsPage.Title
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@CachableWeatherForecastsPage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @CachableWeatherForecastsPage.Title
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@CloneTestPage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>@CloneTestPage.Title
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@ClonablePage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>@ClonablePage.Title
      </NavLink>
    </div>


    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@CustomInputExamplePage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @CustomInputExamplePage.Title
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href=@ServicesPage.Route>
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @ServicesPage.Title
      </NavLink>
    </div>
  </nav>
</div>

<style>
    .nav-link {
        font-size: 0.750rem; /* Adjust the font size as needed */
    }
</style>
