@namespace Test.App.Client.Pages
@rendermode InteractiveAuto
@attribute [Route(Route)]
@inherits BaseComponent

<TwPageTitle>@Title</TwPageTitle>
<h1>@Title</h1>
@RenderModeDisplay
<hr/>
<!-- Arrange -->
<!-- Test description -->
<p>
  The purpose of this page is to test two different persistent states, LocalStorage and SessionStorage.<br/>
  The two counters are independent of each other and will persist across page refreshes.<br/>
  Opening a new tab will share the state of the Purple counter (LocalStorage), but not the Blue counter (SessionStorage).
  <br/>
</p>
<div style="border: 2px solid blue; padding: 10px; margin-bottom: 20px;">
  <h2>System Under Test</h2>
  <h3>Purple (Local)</h3>

  @if (IsPreRendering)
  {
    <div role="status">PurpleState.Guid: </div>
    <div role="status">Purple Count: </div>
  }
  else
  {
    <div role="status">PurpleState.Guid: <span data-qa="purple-state-guid">@PurpleState.Guid</span></div>
    <div role="status">Purple Count: <span data-qa="purple-state-count">@PurpleState.Count</span></div>
    <button data-qa="increment-purple-count" @onclick="IncrementPurpleCount">Increment Purple Count</button>
  }
  <br/>
  <br/>

  <h3>Blue (Session)</h3>
  @if (IsPreRendering)
  {
    <div role="status">BlueState.Guid: </div>
    <div role="status">Blue Count: </div>
  }
  else
  {
    <div role="status">BlueState.Guid: <span data-qa="blue-state-guid">@BlueState.Guid</span></div>
    <div role="status">Blue Count: <span data-qa="blue-state-count">@BlueState.Count</span></div>
    <button data-qa="increment-blue-count" @onclick="IncrementBlueCount">Increment Blue Count</button>
  }
</div>
<hr>
<!-- ACT -->
<p><strong>Act:</strong><br/>
  Click the `Increment Purple Count` button<br/>
  Click the `Increment Blue Count` button<br/>
  Make note of the `Guid` and `Count` for both PurpleState and BlueState`<br/>
  Refresh the page<br/>
</p>

<!-- ASSERT -->
<p>
  <strong>Assert:</strong><br/>
  `Current Render Mode` == Wasm.<br/>
  The `Guid` and `Count` for both PurpleState and BlueState are the same as before the refresh.
</p>

<!-- ACT -->
<p><strong>Act:</strong>Open a new tab to this page</p>

<!-- ASSERT -->
<p>
  <strong>Assert:</strong><br/> The `Guid` and `Count` for PurpleState are the same as the previous tab. <br/>
  The `Guid` for BlueState is different and the Count is 2.<br/>
</p>
<hr>

@code
{
  /// <summary>
  /// The title of the page
  /// </summary>
  public const string Title = "Persistence";

  /// <summary>
  /// The route for the page
  /// </summary>
  public const string Route = "/PersistenceTestPage";

  private async Task IncrementPurpleCount() => await Send(new PurpleState.IncrementCountActionSet.Action { Amount = 5 });
  private async Task IncrementBlueCount() => await Send(new BlueState.IncrementCountActionSet.Action { Amount = 3 });
}
