@typeparam T
@inherits CustomInputBase<T>

<div>
  @if (!string.IsNullOrWhiteSpace(Label))
  {
    <label for="@Id">@Label</label>
  }

  <p>Current count: @CounterState.Count</p>

  <input class="form-control @CssClass" id="@Id" @bind="CurrentValueAsString" />

  <button class="btn btn-primary" @onclick="ButtonClick">Click me</button>
</div>