@rendermode InteractiveAuto
@page "/counter"
@using BlazorState

@inherits BlazorStateComponent

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<p>Render Mode: @CurrentRenderMode</p>

@if (IsPreRendering)
{
  <p role="status">CounterState.Guid: </p>
  <p role="status">Counter 1 count: </p>
}
else
{
  <p role="status">CounterState.Guid: @CounterState.Guid</p>
  <p role="status">Counter 1 count: @CounterState.Count</p>
  <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
}

@if (IsPreRendering)
{
  <p role="status">Counter2State.Guid: </p>
  <p role="status">Counter 2 count: </p>
}
else
{
  <p role="status">Counter2State.Guid: @Counter2State.Guid</p>
  <p role="status">Counter 2 count: @Counter2State.Count</p>
  <button class="btn btn-primary" @onclick="IncrementCount2">Click me</button>
}

<BlazorState.Features.ReduxDevTools.Components.ReduxDevTools />
<BlazorState.Features.JavaScriptInterop.Components.TimeWarpJavaScriptInterop />
<BlazorState.Features.Routing.Components.TimeWarpNavigation />
