@inherits BaseComponent
<div class=@Id>
  <div>Child with CounterState Subscription No Render Trigger</div>
  <div>CounterState.Count: @CounterState.Count</div>

  <ul class="render-info">
    <li>Render Count: @(RenderCount+1)</li>
    <li>Render Reason: @RenderReason</li>
    <li>Render Reason Detail: @RenderReasonDetail</li>
    <li>ShouldRenderWasCalledBy: @ShouldRenderWasCalledBy</li>
    <li>SetParametersAsyncWasCalledBy: @SetParametersAsyncWasCalledBy</li>
    <li>StateHasChangedWasCalledBy: @StateHasChangedWasCalledBy</li>
  </ul>
</div>

<style>
  @($@"
    .{Id} {{
      border: 1px solid;
      padding: 1rem;            
    }}
  ")
</style>
