@inherits TimeWarpStateComponent
@code 
{
  [Parameter] public int SomeInt { get; set; }
  [Parameter] public string SomeString { get; set; } = "";
}

<div class=@Id >
  <div>Child with Primitives: SomeInt = @SomeInt, SomeString = @SomeString</div>

  <ul class="render-info">
    <li>Render Count: @(RenderCount+1)</li>
    <li>Render Reason: @RenderReason</li>
    <li>Render Reason Detail: @RenderReasonDetail</li>
    <li>ShouldRenderWasCalledBy: @ShouldRenderWasCalledBy</li>
    <li>SetParametersAsyncWasCalledBy: @SetParametersAsyncWasCalledBy</li>
    <li>StateHasChangedWasCalledBy: @StateHasChangedWasCalledBy</li>
  </ul>
  
  <p>
    <strong>Assert:</strong><br/>
    Render Count: should initially be 1.<br/>
    Render Count: should increment by 1 on each click of the `Trigger Primitive Parameter Change` button. <br/>
    Render Reason: should be `ParameterChanged` always.<br/>
    Render Reason Detail: should initially be `Parameter 'SomeString' changed`<br/>
    Render Reason Detail: should be `Parameter 'SomeInt' changed` on all other Renders.
  </p>
</div>

<style>
  @($@"
    .{Id} {{
      border: 1px solid;
      padding: 1rem;            
    }}
  ")
</style>
