@inherits BaseComponent

@code
{
  protected override void OnInitialized()
  {
    base.OnInitialized();
    RegisterRenderTrigger<CounterState>(p => p.Count);
    RegisterRenderTrigger<BlueState>(p => p.Count);
  }
}

<div class=@Id>
  <h6>Child with CounterState Subscription and registered RenderTriggers </h6>
  <code>
    RegisterRenderTrigger&lt;CounterState&gt;(p =&gt; p.Count);
    RegisterRenderTrigger&lt;BlueState&gt;(p =&gt; p.Count);
  </code>

  <div>CounterState.Count: @CounterState.Count</div>

  <div class="child-render-info-container">
    <div>Render Count: @(RenderCount + 1)</div>
    <div>ShouldRenderWasCalledBy: @ShouldRenderWasCalledBy</div>
    <div>Render Reason: @RenderReason</div>
    <div>SetParametersAsyncWasCalledBy: @SetParametersAsyncWasCalledBy</div>
    <div>Render Reason Detail: @RenderReasonDetail</div>
    <div>StateHasChangedWasCalledBy: @StateHasChangedWasCalledBy</div>
  </div>
</div>

<style>
  @($@"
    .{Id} {{
      border: 1px solid;
      padding: 1rem;            
    }}

    .{Id} > .child-render-info-container {{
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 0px;
    }}

    .{Id} > .child-render-info-container > div {{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }}
  ")
</style>
